body {
    background-color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}#card {
    height: 520px;
    width: 400px;
    background-color: beige;
    border-radius: 25px;
    margin: 20px auto;
padding: 40px;
text-align: center;
}
h1 {
    color: red;
}

img {
height: 150px;
width: 150px;
border-radius: 50%;
object-fit: cover;

}

i {
color: black;
font-size: 24px;
}








